.food_fruits{
    position: relative;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 0px;
    position: relative;
    width: 100%;
    /* height: 100%; */
    flex-grow: 1;
    align-self: stretch;
    background: #FFFFFF;
}