.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 64px;
    gap: 24px;
    width: 918px;
    /* height: 130px; */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.page_header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    width: 918px;
    /* height: 66px; */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.content{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    /* width: 918px; */
    /* height: 66px; */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.text_and_supporting_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 918px;
    /* height: 66px; */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.text{
    position: relative;
    /* width: 918px; */
    /* height: 38px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    /* line-height: 38px; */
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.supporting_text{
    position: relative;
    /* width: 918px; */
    /* height: 24px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    color: #667085;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}