.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px 48px;
    gap: 20px;
    /* width: 1160px; */
    /* height: 960px; */
    background: #FDFCFC;
    flex: content;
    align-self: stretch;
    order: 1;
    flex-grow: 5;
}
.header_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* gap: 24px; */
    /* width: 1160px; */
    /* width: 100%; */
    /* height: 862px; */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}