<div class="tabs_and_filters">
    <div class="button_group" (click)="mainbodyComponent.populateTable()">
        <div class="button_group_1">
            <div class="button_group_1_text">
                Fruits
            </div>
        </div>
        <div class="button_group_2">
            <div class="button_group_2_text">
                Vegetables
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button">
            <div class="filter-lines">
                <div class="icon">
                    <svg width="20" height="20" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6H14M1.5 1H16.5M6.5 11H11.5" stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </div>
            </div>
            <div class="button_text">Sort By</div>
        </div>
    </div>
</div>
