.table_cell_1{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px 16px 0px;
    gap: 12px;
    /* width: 582px; */
    height: 72px;
    border-bottom: 1px solid #EAECF0;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.table_cell_1_text{
    width: 39px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
    flex: none;
    order: 1;
    flex-grow: 0;
}