<div class="section">
<div class="container">
<div class="table">
    <div class="table_row">
        <div class="table_cell_1">
            <div class="table_cell_1_text">Null</div>
        </div>    
        <div class="table_cell_2">
            <div class="table_cell_2_text">$0.00</div>
        </div>  
        <div class="table_cell_3">
            <div class="table_cell_3_button">
                <div class="table_cell_3_text">Buy Now</div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
