<div class="section">
<div class="container">
<div class="table">
    <!-- generate and populate cells 1 2 3 -->
    <div class="content">
        <button cellHost (click)="addRowText('a')"></button>
        <div class="column_1">
            <ng-template #container1></ng-template>
        </div>
        <div class="column_2">
            <ng-template #container2></ng-template>
        </div>
        <div class="column_3">
            <div class="table_cell_3">
                <div class="table_cell_3_button">
                    <div class="table_cell_3_text">Buy Now</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
